* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FFFFFF;
    color: #111111;
    display: grid;
    grid-template: auto / 1fr 1fr 1fr 1fr 1fr;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

p {
    margin-bottom: 8px;
}

nav {
    grid-column: span 5;
}

.frame {
    border: 6px solid #111111;
}

.pad {
    padding: 16px;
}

.bg-lightblue {
    background: rgb(184, 216, 230);
    color: #111111;
}

header {
    grid-column: span 5;
    display: grid;
    grid-template: auto / 3fr 2fr;
}

img {
    width: 100%;
    height: auto;
}

h1 {
    font-size: 36px;
}

.bg-red {
    background: #841825;
    color: #FFFFFF;
}

aside {
    grid-column: span 1;
}

.bg-blue {
    background: darkslateblue;
    color: #FFFFFF;
}

main {
    grid-column: span 4;
}

h2 {
    font-size: 24px;
}

footer {
    grid-column: span 5;
}

.bg-green {
    background: darkolivegreen;
    color: #FFFFFF;
}

section {
    display: grid;
    grid-template: auto / 1fr 1fr 1fr;
    gap: 16px;
    margin-top: 16px;
}